    <div>
      <h1 class="title">Create New Wallet</h1>
      
      <form #walletform="ngForm">
        <p class="control">
            <label class="label">Passcode</label>
          <input type="password" class="input"  placeholder="enter passcode" name="passcode" required [(ngModel)] = "passcode" #passcodemodel = "ngModel"  /> <br/><br/>
        </p>
        
    <div class="field is-grouped">
        <p class="control">
          <button 
            [disabled]="!walletform.valid" 
            (click)="newWallet()"
            class="button is-primary">
            Create New Wallet
          </button>
        </p>
      </div>

  </form>

  <div [hidden]="!privatekey" style="margin:20px; ">
    <h2 class="title"><strong>Keep your private key safe</strong></h2>
    <div><h2 class="title">Private Key: {{privatekey}} </h2></div>
  </div>
 
</div>
